/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

footer {
  clear: both;
}

.col {
  float: left;
  padding: 0 2%;
}

#one, #three {
  width: 20%;
}

#two {
  width: 60%;
}
